<header class="p-3 bg-dark text-white" [appColorNavbarFondo]="role"> 
  <!-- fixed-top  -->
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"  [appColorNavbarIcono]="role">
          <li>
            <button mat-icon-button (click)="Navegar('bienvenido')">
              <mat-icon>home</mat-icon>
            </button>
          </li>
                    
          <li><a href="/secciones/usuarios" class="nav-link px-2 texto" *ngIf="role=='admin'">Usuarios</a></li>

          <li><a href="/secciones/informes" class="nav-link px-2 texto" *ngIf="role=='admin'">Informes</a></li>

          <li><a href="/secciones/todosLosTurnos" class="nav-link px-2 texto" *ngIf="role=='admin'">Pedir turno</a></li>

          <li><a href="/secciones/turnostomados" class="nav-link px-2 texto" *ngIf="role=='admin'">Turnos Tomados</a></li>

          <li><a href="/secciones/pedirturno" class="nav-link px-2 texto" *ngIf="role=='paciente'">Pedir turno</a></li>

          <li><a href="/secciones/misturnos" class="nav-link px-2 texto" *ngIf="role=='paciente'&& role ">Mis turnos</a></li>

          <li><a href="/secciones/misturnosespecialistas" class="nav-link px-2 texto" *ngIf="role =='especialista'&& role ">Mis turnos</a></li>

        </ul>
        <!--
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
        </form>
        -->

        <div class="text-end">
          <div *ngIf="user$ | async as user; else login">           
            <button type="button" mat-stroked-button color="warn" (click)="Desconectarse()" *ngIf="user">Desconectarse</button>            
              <a href="/secciones/miperfil" class="email"> {{ user?.email | emailReduccion }} </a>
          </div>

          <ng-template #login>
            <button type="button" class="btn btn-outline-light me-2" (click)="Navegar('login')">Acceder</button>
            <button type="button" class="btn btn-warning" (click)="Navegar('registro')">Registro</button>
          </ng-template>
        </div>
      </div>
    </div>
</header>