.texto{
    color: whitesmoke;
}
.texto:hover{
 color: rgb(157, 64, 233);
}
button:hover{
    color: rgb(157, 64, 233);
}

header{
    background-image: url("../../../../assets/Imagenes/texturaOscura.jpg");
}

.email{
    color: whitesmoke;
}
.email:hover{
    color: rgb(157, 64, 233);
}
