.container{
   text-align: center;
    max-width: 800px;
    border-top: 5px solid rgba(139, 0, 0, 0.226);
    border-bottom: 5px solid rgba(139, 0, 0, 0.226);
    position: relative;
    /* background-image: url('../../../favicon.ico');
    background-repeat: no-repeat;
    background-color: transparent;     */
}

.btnPDF{
  text-align: center;
}

.circular--portrait {      
    width:200px;
    height:200px;
    border-radius:50%;
    border:5px solid darkred;
  }

.icono{
    position:absolute;
    left: 45%;
    top: 10%;
    opacity: 30%;
}

  /* .circular--portrait img{   
    width: 50%;
    height: 50%;
    margin-bottom: -5%;
} */