<br><br>



<div class="container">
   
    <div class="row-center">
        
        <div class="col-md-12">
            <div class="home-template texto">
                <img src="../../../../assets/Imagenes/clinica-portada.jpg">
                <h1>Bienvenido a Clinica Online</h1>                                                    
                <h5>Para poder utilizar nuestros servicios por favor ingresa con tu usuario o registrate.</h5>
                <h5> En el menu de navegacion podes elegir entre los distintos componentes interactivos.</h5>
                
                <!-- <p>Yo soy Gomez Nicolas. Podes encontrarme <a href="https://github.com/nicolasnet" target="_blank">en GitHub <i class="fa fa-github"></i></a></p>
                <p>{{this.gitUsuario.login}}</p>
                <img src="{{this.gitUsuario.avatar_url}}">                            -->
            </div>
        </div>
    </div>
</div>