table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }



  .circular--portrait {      
    overflow: hidden;
    border-radius: 50%;
  }

  .circular--portrait img{   
    width: 100%;
    height: auto;
    margin-top: -40%;
}
